<%- include('../partials/head') -%> 
<%- include('../partials/navbar') -%> 

        <div class="holder">
            <div class="card">
                <div class="image">
                    <h1><%= thisBook.title %></h1>
                    <img class="comic" src="/img/<%= thisBook.image %>" alt="<%= thisBook.title %>">
                </div>

                <div class="card-desc">
                    <p><span class="title">Title: </span><%= thisBook.title %></p>
                    <p><span class="title">Author: </span><%= thisBook.author %></p>
                    <p><span class="title">Publisher: </span><%= thisBook.publisher %></p>
                    <p><span class="title">Genre: </span><%= thisBook.genre %></p>
                    <p><span class="title">Number of pages: </span><%= thisBook.pages %></p>
                    <p><span class="title">Rating: </span><%= thisBook.rating %></p>
                    <p><span class="title">Synopsis: </span><%= thisBook.synopsis %></p>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') -%> 
