<%- include('../partials/head') -%> 
<%- include('../partials/navbar') -%> 
    <div class="content-box">

    <h1>Update Comic</h1>

    <div class="form-container">
        <form action="/book/<%= thisBook._id %>?_method=PUT" method="POST">
            <div>
                <label for="title">Title: </label>
                <input name="title" id="title" placeholder="title" type="text" value="<%= thisBook.title %>" required minlength="1">
            </div>
            <div>
                <label for="author:">Author: </label>
                <input name="author" id="author" placeholder="author" type="text" value="<%= thisBook.author %>" required minlength="1">
            </div>
            <div>
                <label for="publisher">Publisher: </label>
                <select name="publisher" id="publisher" value="">
                    <option value="<%= thisBook.publisher %>"><%= thisBook.publisher %></option>
                    <option value="BOOM! Box">BOOM! Box</option>
                    <option value="DC Comics">DC Comics</option>
                    <option value="Harry N. Abrahms">Harry N. Abrahms</option>
                    <option value="Icon Book">Icon Book</option>
                    <option value="image Comics">image Comics</option>
                    <option value="Marvel">Marvel</option>
                    <option value="Simon & Schuster">Simon & Schuster</option>
                    <option value="Top Shelf Production">Top Shelf Production</option>
                    <option value="VIZ Media LLC">VIZ Media LLC</option>
                </select>
            </div>
            <div>
                <label for="genre">Genre: </label>
                <input name="genre" id="genre" placeholder="genre" type="text" value="<%= thisBook.genre %>">
            </div>
            <div>
                <label for="pages">Pages: </label>
                <input name="pages" placeholder="pages" id="pages" type="text" value="<%= thisBook.pages %>">
            </div>
            <div>
                <label for="rating">Rating: </label>
                <select value="" name="rating" id="rating" min="1" max="5" >
                    <option value="<%= thisBook.rating %>"><%= thisBook.rating %></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div>
                <label for="image">Image: </label>
                <input name="image" placeholder="Image" id="image" type="text" value="<%= thisBook.image %>">
            </div>
            <div>
                <label for="synopsis">Synopsis: </label>
                <textarea name="synopsis" placeholder="synopsis" id="synopsis" cols="30" rows="10"><%= thisBook.synopsis %></textarea>
            </div>
            <button type="submit">Update Book</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') -%> 
